@import "tailwindcss";

:root {
  --background: #282C33;
    --primary: #C778DD;
    --gray: #ABB2BF;
    --white: #FFFFFF;
    --font-fira-code: var(--font-fira-code);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
    --color-gray: var(--gray);
    --color-white: var(--white);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*/
body {
  background: var(--background);
  color: var(--gray);
    font-family: var(--font-fira-code);
}
